/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset 
***
***
***/

html {
  font-size: 62.5%;
  max-width: 800px;
  margin: auto;
  font-family:Papyrus,fantasy;
  text-align: center;
  background-image: url(https://www.cerner.com/-/media/cerner-media-united-states/blog-images/blog_chc-ai-ml-preview.jpg?vs=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: yellowgreen;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
nav > a,
footer > a {
  background-color: lightgray;
  padding:  1.5% 3%;
  font-size: 2rem;
  border-radius: 1rem;
  border: gray 0.3rem ridge;
  opacity: 0.5;
}
body > a.fbLink {
  opacity: 0.5;
}
body > a.fbLink:hover {
  opacity: 1;
}
nav a:hover,
footer a:hover {
  background-color: forestgreen;
  color: greenyellow;
  opacity: 1;
}
h1 {
  font-size: 3rem;
  padding: 2%;
}
header,
footer {border: ridge 0.3rem yellowgreen;
  font-size: 2.5rem;
  border-radius: 2rem;
}
footer h4 {
  font-size: 1.25rem;
  margin: 1%;
}
footer img {
  width: 10%;
  align-self: center;
}
.fbLink > img {
  margin: auto;
  width: 5rem;
}
body > a.fbLink > img {
  margin-top: 2rem;
}
footer {
  display: flex;
  flex-direction: column; align-items: center;
}
.email-Phone {color: forestgreen;}
.email-Phone:hover {
  color: yellowgreen;
}
footer .fbLink {
  background-color: transparent;
  border: none;
}
footer .fbLink:hover {
  background: none;
  border: none;
}
/*index.html styling below*/

.bodyImg {
  width: 96%;
  max-height: 10rem;
  object-fit: cover;
  background-color: black;
  padding: 2%;
}
article {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: center;
}
 
article > * {border-radius: 50%;
  width: 16%;margin: 1%;
border: solid skyblue;
background-color: black;}
/* about.html styling below */
.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.aboutBox > img {border-radius: 50%;}
/* projects.html styling below */
section {
  display: flex;
  flex-wrap: row wrap;
  padding: 2%;
  justify-content: center;
}
section > img {
  width: 22%;
  padding: 2%;
  border-radius: 50%;
}
h2 {
  font-size: 2.25rem;
  padding: 2%;
}
p {
  font-size: 1.5rem;
  padding: 2%;
}
/* contact.html styling below */
.contactBox {
  padding: 2%;
}
body a {
  font-size: 2.25rem;
}
footer a {
  width: 35%;
  margin: 2%;
  padding: 2%;
}
footer h4,
footer {
  margin: 1%;
  padding: 2%;
}
footer {
  padding-bottom: 5%;
}
footer a img {
  width: 25%;
}
/* - [x] Introduce max-width media queries into your project at 800px and 500px 
- [x] Add accessability features to your webpage
- [x] Design should closely follow the [mobile wireframe](Wireframes/) given for your chosen layout */

@media (max-width: 800px) {
  html {
    width: 96%;
    margin: 2%;
  }
  .bodyImg {
    width: 96%;
  }
}
@media (max-width: 600px) {
  nav {
    display: flex;
    flex-flow: column nowrap;
    padding: 2%;
  }
  nav > a {
    margin: auto;
    width: 35%;
  }
  html {
    margin: auto;
    width: 100vw;
  }
  .indexBox img {
    width: 45%;
  }
  .indexBox p {
    width: 80%;
    margin: auto;
  }
  section {
    flex-flow: row wrap;
    align-content: center;
  }

  section > img {
    width: 46%;
  }
  article {flex-wrap: wrap;
  }
  article > img {width: 46%;}
  article > p {width: 95%;
  background: none; border: none;}
}
